<div class="about p-5 ">
    <div class="row my-5">
        <div class="my-5 text-center">
            <h1>{{ title}}</h1>
            <div class="d-flex justify-content-center align-items-center g-5 mt-5">
                <div class="line"></div>
                <i class="fa-solid fa-star mx-3"></i>
                <div class="line"></div>
            </div>

            <div class="description d-flex my-3 px-3">
                <p class="my-5 px-5 ">{{ desc1}}</p>
                <p class="my-5 px-5">{{ desc2}}</p>
            </div>
        </div>
    </div>

</div>