<div class="contact container m-5 pt-5">
    <div class="row m-5">
        <h1 class="text-center">CONTACT SECTION</h1>
        <div class="d-flex justify-content-center align-items-center g-5 mt-5">
            <div class="line"></div>
            <i class="fa-solid fa-star mx-3"></i>
            <div class="line"></div>
        </div>
        <form class="m-5 py-5">
            <div class="mb-3">
                <input type="text" class="form-control border-0 border-bottom py-3" id="userName"
                    placeholder="userName">
            </div>
            <div class="mb-3">
                <input type="number" class="form-control border-0 border-bottom py-3" id="userAge"
                    placeholder="userAge">
            </div>
            <div class="mb-3">
                <input type="email" class="form-control border-0 border-bottom py-3" id="exampleInputEmail1"
                    placeholder="userEmail">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control border-0 border-bottom py-3" id="exampleInputPassword1"
                    placeholder="userPassword">
            </div>
            <button type="submit" class="contact-btn btn my-3 py-2 text-white">Send Message</button>
        </form>
    </div>
</div>