
<div class="developer">
    <div class="row">
        <div class="d-flex flex-column justify-content-center align-items-center my-5">
            <img [src]="imgSrc" alt="developer" class="w-15 my-5">
            <h1 class="my-3">{{title}}</h1>
            <div class="d-flex justify-content-center align-items-center my-4">
                <div class="line"> </div>
                <i class="fa-solid fa-star mx-3"></i>
                <div class="line"> </div>
            </div>
            <p>{{desc}}</p>
        </div>
    </div>
</div>

